@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Josefin+Sans:wght@300&family=Rajdhani:wght@600&display=swap');

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Edu NSW ACT Foundation', cursive;
}

:root {
  --back: rgb(43, 38, 38);
  --letters: rgb(235, 235, 171);
  --title: rgb(220, 43, 43);
  --winner: rgb(241, 140, 39);
  --button: white;
}

body {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  background-color: var(--back);
  align-items: center;
  justify-items: center;
}

h1 {
  font-family: 'Rajdhani', sans-serif;
  letter-spacing: 4px;
  color: var(--title);
  font-size: 50px;
  text-align: center;
}

button {
  font-family: 'Josefin Sans', sans-serif;
  padding: 15px;
  border-radius: 10px;
  border: none;
  background-color: var(--button);
}

#choose button {
  font-size: 30px;
}

#newGame {
  font-size: 25px;
}

#score {
  color: var(--letters);
  font-size: 4vw;
  margin-left: auto;
}

h3 {
  color: var(--letters);
  text-align: center;
  font-size: 30px;
}

#winner {
  font-size: 40px;
  color: var(--winner);
}

#choose {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
