@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Josefin+Sans:wght@300&family=Rajdhani:wght@600&display=swap');

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Edu NSW ACT Foundation', cursive;
}

:root {
  --back: rgb(43, 38, 38);
  --letters: rgb(235, 235, 171);
  --title: rgb(220, 43, 43);
  --winner: rgb(241, 140, 39);
  --button: white;
}

body {
  width: 100vw;
  height: 100vh;
}

.bottom {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(0.25turn, var(--back), var(--letters), var(--back));
  border-image-slice: 1;
}

#container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  display: grid;
  grid-template-rows: 100px 200px 70px 1fr 70px;
  background-color: var(--back);
  align-items: center;
  justify-items: center;
}

#container > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* TITLE AND SCORE ######################################## */

h1 {
  font-family: 'Rajdhani', sans-serif;
  letter-spacing: 4px;
  color: var(--title);
  font-size: 50px;
  text-align: center;
}

#score {
  color: var(--letters);
  font-size: 30px;
  flex-direction: column;
  gap: 10px;
}


/* WINNER ############################################ */

#winner {
  font-size: 40px;
  color: var(--winner);
}

/* CHOICE ############################################ */

h3 {
  color: var(--letters);
  text-align: center;
  font-size: 30px;
}

#buttons {
  flex-direction: column;
  gap: 30px;
}

button {
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 10px;
  border: none;
  background-color: var(--button);
}

#choose {
  display: flex;
  flex-flow: row wrap;
  gap: 40px;
}

#choose button {
  font-size: 30px;
  width: 150px;
  height: 60px;
}

/* NEW GAME ############################################ */

#newGame {
  font-size: 25px;
  height: 40px;
  width: 150px;
}
